.slideshow {
    position: relative;
    width: 1240px;
    height: 415px;
    max-height: 500px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 15px;
  }
  
  .next {
    right: 15px;
  }
  
  .counter {
    position: absolute;
    bottom: 15px;
    right: 50%;
    color: white;
    font-size: 1rem;
    // background-color: rgba(0, 0, 0, 0.3);
    // padding: 4px 8px;
    // border-radius: 4px;
  }
  