.logementContainer {
    margin-top: 50px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .SlideshowContainer {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        height: 255px;
  }
  }
  
  .proprietiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1240px;
    gap: 20px;
  
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  
  .titleContainer h1 {
    color: #f85d5d;
    font-size: 32px;
  
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  
  .titleContainer h2 {
    font-size: 18px;
  
    @media (max-width: 768px) {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .hostRateContainer {
    @media (max-width: 768px) {
        display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
        
    }
  }
  
  .hostContainer {
    color: #f85d5d;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: right;
    justify-content: flex-end;
  
    @media (max-width: 768px) {
      justify-content: flex-start;
    }
  }

  .hostContainer h3 {
    @media (max-width: 768px) {
        font-size: 12px;
    }
  }
  
  .hostPicture {
    border-radius: 50%;
    width: 64px;
    height: 64px;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
  
  .collapseContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1240px;
    margin: 40px auto;
  
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  
  .collapse {
    width: 100%;
    max-width: 582px;
    background-color: black;
  }
  