.logementContainer {
    margin-top: 50px;
}

.SlideshowContainer{
    display: flex;
    // flex-direction: column;
    justify-content: center;
}

.titleContainer h1{
    color: #F85D5D;
}

.hostContainer{
    color: #F85D5D;
}