.headerContainer {
    display: flex;
    justify-content: center;
}

.header {
    width: 1240px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 30px;

    @media (max-width: 768px) {
        width: 335px;
        height: 111px;
    }
}

.header img {
    width: 145px;
    height: auto;
}


ul {
    display: flex;
    gap: 1rem;
}

li {
    list-style: none;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

// .img {
//     width: 210px;
//     height: 68px;
// }